@import 'normalize.css';
@import "app/styles/fonts.css";
@import "app/styles/variables/global.css";
@import "app/styles/variables/colors.css";

#root {
    height: 100vh;
    font: var(--base-font);
}

body {
    font-size: var(--base-font-size);
}

*, *:after, *:before {
    box-sizing: border-box;
}

