:root {
    --light: white;

    --primary-text-color: white;
    --secondary-text-color: #4D4D4D;
    --third-text-color: #F1F1F1;

    --bg-gradient: linear-gradient(109.86deg, #49A5D5 13%, #7F25F0 34.38%, #9046E5 62.19%, #982BAB 91.94%);
}