.FinalSlide {
    padding-top: 5vh;
    padding-bottom: 15vh;
    height: 100%;
    /*background: radial-gradient(circle,*/
    /*                    rgba(235,5,236,0.2049194677871149) 20%,*/
    /*                    rgba(255,255,255,1) 100%),*/
    /*            radial-gradient(circle at 6.7% 75%,*/
    /*                    rgba(21,115,211,0.196516106442577),*/
    /*                    rgba(255,255,255,1) 100%);*/
    background: rgba(134, 178, 203, 0.46);
}

.successToday {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    gap: 60px;
}

.title {
    margin-bottom: 4vh;
}

.subtitle {
    text-align: center;
    max-width: 970px;
}