.layout {
    background-image: var(--bg-gradient);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: var(--header-height);
    border-bottom: 1px solid var(--light);
    background-color: var(--bg-light);
}

.main {
    min-height: 300px;
    height: var(--content-height);
}