.main-swiper-vertical {

}

.swiper {
    height: 100%;
    width: 100%;
}

.swiper-button-next {
    position: absolute;
    bottom: 4vh;
    left: calc(50% - 40px);
    height: 80px;
    width: 80px;
    background-image: url("shared/assets/img/arrow-down.svg");
    z-index: 10;
    cursor: pointer;
}

.swiper-horizontal .swiper-slide {
    padding-top: 10vh;
    padding-bottom: calc(20vh);
}

.swiper-pagination {
    bottom: 20vh !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--bg-light)!important;
}

.preview-text {
    margin-bottom: 50px;
}

.parallax-text {
    position: absolute;
    font-family: var(--secondary-font);
    top: 15%;
    left: -10%;
    font-weight: 900;
    font-size: 480px;
    line-height: 1.4;
    color: var(--primary-text-color);
    opacity: 0.05;
}

.horizontal-slider {
    position: relative;
    z-index: 10;
}

