.LinkWithIcon {
    position: relative;
    max-width: 14.625rem;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: 90px;
    font-size: var(--text-size-s);
    text-decoration: none;
    color: var(--secondary-text-color);
}

.LinkWithIcon::before {
    position: absolute;
    content: url("shared/assets/img/icons/hlynov-in-round.svg");
    max-height: 5rem;
    left: 0;
}

.LinkWithIcon:hover:before {
    position: absolute;
    content: url("shared/assets/img/icons/hlynov-in-round-color.svg");
}