.MainSlideBlock {
    position: relative;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
    max-width: 1285px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.title {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.text {
    text-align: center;
}

/* --bp-400 */
@media (max-width: 400px) {
    .MainSlideBlock {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        max-width: 100%;
        height: auto;
        margin-top: 4vh;
        /*margin-bottom: 4vh;*/
        background: none;
    }
}